GUTENDEX_BASE_URL=https://gutendex.com
GUTENDEX_TIMEOUT_MS=90000
GUTENDEX_MAX_ATTEMPTS=3
GUTENDEX_RETRY_INITIAL_DELAY_MS=5000
GUTENDEX_RETRY_MAX_DELAY_MS=15000
GUTENBERG_OUTPUT_DIR=./output
GUTENBERG_BATCH_SIZE=1